# Python
venv/
__pycache__/
*.py[cod]
*.sqlite3
*.log
*.pot
*.pyc
*.pyo
*.pyd

# Terraform
*.tfstate
*.tfstate.*
.terraform/
crash.log
terraform.tfvars
terraform.tfvars.json

# General
.env
.DS_Store
*.swp
.idea/
.vscode/
